/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Individual stories */

.story-link {
  display:inline;
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  /* margin: 18px 0; */
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  /* margin-left: 2em; */
  display: block;
  color: green;
  font-weight: bold;
  margin-top: 3px;
}

.story-user {
  display: block;
  color: orange;
  margin-top: 3px;
}

hr{
  border: 0.5px solid rgb(231, 231, 231)
}
ol li .storyContentDiv{
  display:flex;
  align-items:flex-start;
}

.storyDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Left-aligns the content */
  margin-left: 1em;
}

.fa.fa-star{
  margin: 10px 10px;
}

.fa-trash-can{
  margin-right: 5px;
}

.fa-trash-can:hover{
  color:red;
}
.story-hostname{
  display:inline;
}